TELEGRAM_API_ID=20504953
TELEGRAM_API_HASH=d28ccc2a28a88a172294b723a305f6f8
SESSION_NAME=telegram_session
WEBHOOK_URL=https://n8n.getaipilot.in/webhook/telegram_sync
DESTINATION_CHANNEL=your_channel_username